div {
    /*m2-3-4-7+p3+fsz15+fw100+bdrs30%+bd+*/
    margin: 2px 3px 4px 7px;
    padding: 3px;
    font-size: 15px;
    font-weight: 100;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    border-radius: 30%;
    border: 1px solid #000;
    color: #000;
    box-shadow: inset hoff voff blur #000;
}