@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Libre+Baskerville:ital@0;1&display=swap');

.block {
    width: 100px;
    height: 50px;
    margin: 20px;
}

.block1 {
    background-color: lightblue;
}

.block1:hover {
    border: 3px solid #000;
}

.text-1 {
    font-family: 'Libre Baskerville', serif;
}

.block2 {
    background-color: lightcoral;
    border-radius: 30px;
}

.block2:hover {
    outline: 3px solid #000;;
}

.text-2 {
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
}

.block3 {
    background-color: lightgreen;

}

.block3:hover {
    box-shadow: 0 0 0 3px #000;
}

.block4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    border: 3px solid #fff;
    box-shadow: 1px 1px 15px 3px red;
}

.block5 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    padding-top: 3px;
    padding-left: 3px;
    box-sizing: border-box;
}

.block6 {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    background-color: #fff;
    padding-top: 3px;
    padding-left: 3px;
    box-sizing: border-box;
}

.block7 {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: red;
}

.cart {
    margin: 10px 20px 30px;
    width: 100px;
    height: 150px;
    box-shadow: 0 1px 20px 1px lightpink;
}

.cart:hover {
    box-shadow: 0 1px 20px 1px lightseagreen;
}