body {
    text-align: center;
}

.block {
    width: 150px;
    height: 50px;
    border: 1px solid #000;
    display: inline;
}

.link {
    display: block;
}

.menu-item {
    display: inline-block;
    border: 1px solid #000;
    width: 150px;
    height: 50px;
}

.hide {
    /*display: none;*/
    /*visibility: hidden;*/
    opacity: 1;
}